body{
    color: #3e4258;
}
*{
    font-family: 'Roboto Slab', serif;
}
:root{
    --main-bg-color: #8a2be2;
    --primary-bg-button: rgb(29, 158, 51);
    --custom-main-header: 'Yellowtail', cursive;
    --custom-header: 'Poiret One', cursive;

}
.ch{
    font-family: var(--custom-header);
}
.barivilhosa{
    font-family: 'Yellowtail', cursive;
    font-size: 4.5em;
    color: #fff;
    text-shadow: 0px 0px 8px pink;
}
.cmh{
    font-family: var(--custom-main-header);
}
/* Text Justify */
.custom-text-justify{
    text-align: justify;
    text-justify: inter-word;
}
/* Button */
.btn-desafio{
    background-color: var(--primary-bg-button);
    box-shadow: 0px 0px 6px #000;
    border-radius: 0px;
    font-size: 1.8rem;
    font-weight: 600;
    border: 0px solid #1e1e1e;
    border-radius: 0px;
}
/* Primary-Background-Color */
.primary-custom-bg{
    background-color: var(--main-bg-color);
}
/* CTA Div */
.cta-div{
    color: #fff;
    /* text-shadow: 0px 0px 5px black; */
    text-decoration: none;
    font-size: 1rem;
}
/* CTA Button */
.bg-primary-theme{
    background-color: var(--main-bg-color);
}
/* Butterfly Icon */
.butterfly-icon{
    width: 35px;
    height: 35px;
}
/* Navbar */
.nav-button-anchor{
    /* background-color: #642779; */
    /* border-radius: 12px; */
    margin: 3px;

}
.nav-anchor{
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #612F74;
}
.control-border{
    border: 1px solid red;
}
/* Countdown Styling */
.cnt-container{
    display: flex;
    background-color: var(--main-bg-color);
    color: rgb(226, 226, 226);
    padding-bottom: 14px;
}
.cnt-text{
    display: flex;
    background-color: var(--main-bg-color);
    color: rgb(226, 226, 226);
    padding: 4px 4px;
    border: 0px;
}
.cnt-number{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 0px solid #ccc;
    margin: 0px 1rem;
    margin-bottom: 0;
    padding: 0px 2.5px;
}
.cnt-str{
    font-size: 0.9rem;
    text-align: center;
    /* border: 0px solid green; */
    padding: 0px;

}

/* Banner */
.banner-title{
    /* position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%); */

    color: #612F74;
    font-weight: bold;
    /* text-shadow: 0px 0px 5px rgb(0, 0, 0); */
    font-size: 2.5rem;
}
.banner-subtitle{
    font-size: 1.2rem;
}

/* Title */
.section-title{
    font-size: 2rem;
    font-weight: 700;
    color: #612F74;
}

/* O que vai aprender */
.section-aprender{
    background-color: var(--main-bg-color);
    color: rgb(226, 226, 226);
    text-align: center;
}
.section-aprender-title{
    font-size: 1.9rem;
    font-weight: 900;
    text-align: center;
    color: rgb(241, 241, 241);
}
.section-aprender-index{
    font-size: 1.3rem;
    /* background-color: cornflowerblue; */
    margin: 4px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0px solid black;
    /* color: white; */
}
.section-aprender-item{
    max-width: 800px;
    font-size: 1rem;
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 12px;
    box-shadow: 0px 0px 10px pink;
    border: 0px solid rgb(129, 129, 129);
    border-radius: 6px;
}

/* Para quem é */
.section-comp{
    text-align: center;
}
.section-comp-title{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}
.section-comp-item{
    font-size: 1rem;
    color: rgb(66, 66, 66);
    /* text-align: center; */
    padding: 16px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: left;
    max-width: 640px;
}

/* Bonus */
.section-bonus-items{
    margin: 16px 0px;
    padding: 5px 12px;
    border-left: 3px solid var(--main-bg-color)
}

/* Section Pricing */
.section-pricing{
    border-top: 5px solid var(--main-bg-color);
    border-bottom: 5px solid var(--main-bg-color);
}

/* Team Bootstrap */
.section-time-member{
    background-color: var(--main-bg-color);
    display: block;
}
.section-time-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #612F74;
    text-align: center;
}
#team {
    margin-top:40px;    
}
.block {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,.07);
    padding: 6px;
    margin-bottom: 6px;
}

#team .team-portrait {
    text-align: center;
}

#team .title, .title {
    padding: 30px 0;
    line-height: 36px;
    color: #612F74;
    font-size: 2.8rem;
}

#team .title h2 {
    margin: 0;
    padding: 0 10px;
    
}

#team .title h3 {
    color: #9295a7;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    line-height: 16px;
}

#team .btn {
    margin: 5px 10px 0 0;
}

#team p {
    padding: 0 30px;
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 30px;
    text-align: left;
}

.portrait {
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    /* height: 200px; */
    overflow: hidden;
    -webkit-transition: border-color .5s;
    transition: border-color .5s;
}

.team .row [class*="col-"]:hover .portrait {
    border-color: #fff;
}

.portrait img {
    width: 100%;
}

.social-media {
    padding: 0 30px;
    color: #fff;
    width: 100%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.social-media a {
    display: inline-block;
    font-size: 20px;
    color: #3e4258;
}

.social-media a i {
    -webkit-transition: .3s;
    transition: .3s;
}

.social-media a:hover i {
    color: #444;
}
@media (max-width: 992px)  {
    .portrait {
    height: auto;
}
}
@media (min-width: 768px) and (max-width: 992px)  {
    .team .social-media a {
    height: 30px;
    width: 30px;
    font-size: 15px;
    padding-top: 3px;
}
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
/* Como vai funcionar */
.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}